<app-subtitulo-dashboard titulo="Gestion de Consultas de Clientes" icon="bi bi-chat-right-text"/>
@if (consultaService.userResourceAllConsultas.isLoading()) {
  <div class="text-2xl text-center py-8">cargando....</div>
}
@if (consultaService.userResourceAllConsultas.error()) {
  <div class="text-2xl text-center py-8">{{consultaService.userResourceAllConsultas.error()}}</div>
}
  <!-- <paginacion-linkedsignal titulo="CONSULTAS" [lista]="consultasRXJS()!" [columns]="columnsConsulta" /> -->
   <paginacion-linkedsignal titulo="CONSULTAS" [lista]="consultas()!" [columns]="columnsConsultas" />


