.fondo {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)), url(/assets/img/imagen_fondo_principal.jpg);
}

.fade-in {
  animation: fadeIn 1000ms ease-in-out;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateX(380px);
  }
  to{
    opacity: 1;
      transform: translateX(0);
  }
}

.fade-out {
  animation: fadeOut 500ms ease-in-out;
}

@keyframes fadeOut {
  from{
    opacity: 1;
    transform: translateX(0);
  }
  to{
    opacity: 0;
    transform: translateX(100px);
  }
}

