@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-fadeOut {
  animation: fadeOut 0.8s ease;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    /* transform: translateY(0); */
  }

  to {
    opacity: 0;
    /* transform: translateY(10px); */
  }
}
