.fade-in {
  animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateX(10px);
  }
  to{
    opacity: 1;
      transform: translateX(0);
  }
}

.fade-out {
  animation: fadeOut 500ms ease-in-out;
}

@keyframes fadeOut {
  from{
    opacity: 1;
    transform: translateX(0);
  }
  to{
    opacity: 0;
    transform: translateX(1 0px);
  }
}

